body{

    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRFPAvx8_bNCJe-J_inViLslqHb5VbY624qT3QY7QXzs2HHZUXW&s");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}